<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Termine</title>
  </head>
  <body>
    <table>
      <thead>
        <tr>
          {% for header in headers %}
          <th>{{ header }}</th>
          {% endfor %}
        </tr>
      </thead>
      <tbody>
        {% for row in data %}
        <tr>
          {% for item in row.values() %}
          <td>{{ item }}</td>
          {% endfor %}
        </tr>
        {% endfor %}
      </tbody>
    </table>
  </body>
</html>
